@import model.CreateConsignmentData
@(userForm: Form[CreateConsignmentData], seriesId: Int)(implicit messages: Messages)
    @import helper._
    @import viewsapi.FormFunctions._
    @main("Consignment") {
        @defining(play.core.PlayVersion.current) { version =>

            <!-- Back -->
            <a href="@routes.SeriesDetailsController.index()" class="govuk-back-link">Back</a>

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <!-- Progress indicator -->
                    <span class="govuk-caption-xl">Step 3 of 5</span>
                    <!-- Headline -->
                    <h1 class="govuk-heading-xl">Consignment Information</h1>

                    @form(action = routes.CreateConsignmentController.submit) {
                    <fieldset class="govuk-fieldset">
                        <div class="govuk-form-group">
                            @inputTextBox(
                                userForm("consignmentName"),
                                "text",
                                '_label -> "Consignment name",
                                requiredInputArg -> true
                            )
                            @inputTextBox(
                                userForm("transferringBody"),
                                "text",
                                '_label -> "Transferring body",
                                requiredInputArg -> true
                            )
                            <input type="hidden" name="seriesId" value="@seriesId" />
                        </div>
                    </fieldset>

                    <!-- Buttons -->
                    <div class="govuk-form-group">
                        <a href="@routes.DashboardController.index" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Cancel
                        </a>
                        <input type="submit" value="Save and continue" role="button" draggable="false" class="govuk-button" data-module="govuk-button"/>
                    </div>

                    }

                </div>
            </div>
        }
    }