@(createSeriesForm: Form[model.CreateSeriesData])(implicit messages: Messages)
@import helper._
@import viewsapi.FormFunctions._

@main("CreateSeries") {
@defining(play.core.PlayVersion.current) { version =>
    <!-- Back -->
    <a href="@routes.SeriesDetailsController.index()" class="govuk-back-link">Back</a>

    <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <!-- Progress indicator -->
                <span class="govuk-caption-xl">Step 2 of 5</span>
                <!-- Headline -->
                <h1 class="govuk-heading-xl">Request a New Series</h1>

                
            @form(action = routes.CreateSeriesController.submit) {
                <fieldset class="govuk-fieldset">
                    <div class="govuk-form-group">
                        <!-- Series Title -->
                        @inputTextBox(
                            createSeriesForm("seriesName"),
                            '_label -> "Series title",
                            requiredInputArg -> true
                        )
                        <!-- Series Description -->
                        @inputTextArea(
                            createSeriesForm("seriesDescription"),
                            '_label -> "Series description"
                        )
                        <!-- Creating Body -->
                        @inputTextBox(
                            createSeriesForm("creatingBody"),
                            '_label -> "Creating body",
                            requiredInputArg -> true
                        )
                    </div>
                </fieldset>

                <!-- Buttons -->
                <div class="govuk-form-group">
                    <a href="@routes.DashboardController.index" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </a>
                    <button class="govuk-button" type="submit" data-module="govuk-button" role="button">
                        Continue
                    </button>
                </div>
            }

        </div>
    </div>
    }
}