@()

@main("Dashboard") {
@defining(play.core.PlayVersion.current) { version =>
    <h1 class="govuk-heading-xl">Dashboard</h1>

    <a href="@routes.UploadController.index" role="button" draggable="false" class="govuk-button govuk-button--start">
        Upload files
    </a>
    <br/>
    <a href="@routes.ViewCollectionsController.index" role="button" draggable="false" class="govuk-button govuk-button--start">
        View Upload history
    </a>
    <br/>
    <a href="@routes.CreateCollectionController.index" role="button" draggable="false" class="govuk-button govuk-button--start">
        Create Batch
    </a>
}
}