@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.api.data._
@import auth.TotpSetupForm.Data
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpCredentials
@import com.mohiva.play.silhouette.impl.providers.GoogleTotpInfo

@(user: auth.User, totpInfoOpt: Option[GoogleTotpInfo], totpDataOpt: Option[(Form[Data], GoogleTotpCredentials)] = None)(implicit request: RequestHeader, messages: Messages)

@main(messages("totp.create.title")) {
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        @if(totpInfoOpt.nonEmpty) {
        <h2 class="govuk-heading-m">You have already set up two factor authentication</h2>

        } else {
        @totpDataOpt match {
        case Some((totpForm, credentials)) => {
        <h1 class="govuk-heading-xl">@messages("totp.create.title")</h1>
        <img src="@credentials.qrUrl"/>
        <h2>@messages("totp.recovery.tokens.title")</h2>
        <ul>
            @for(scratchCodePlain <- credentials.scratchCodesPlain) {
            <li>@{
                scratchCodePlain
                }</li>
            }
        </ul>
        @helper.form(action = controllers.routes.TotpController.enableTotpSubmit()) {
        @helper.CSRF.formField
        @inputTextBox(totpForm("verificationCode"), '_label -> messages("totp.create.instructions"))
        @inputTextBox(totpForm("sharedKey"), '_inputType -> "hidden")
        @helper.repeat(totpForm("scratchCodes"), min = 1) { scratchCodeField =>
        @inputTextBox(scratchCodeField("hasher"), '_inputType -> "hidden")
        @inputTextBox(scratchCodeField("password"), '_inputType -> "hidden")
        @inputTextBox(scratchCodeField("salt"), '_inputType -> "hidden")
        }
        <input type="submit" class="govuk-button" value="@messages("totp.verify")">
        }
        }
        case None => {
        <h2>@messages("totp.disabled.title")</h2>
        <a href="@controllers.routes.TotpController.enableTotp">
            <input type="button" class="btn btn-primary" value='@messages("totp.enable")'/>
        </a>
        }
        }
        }
    </div>
</div>
}
