@import graphql.codegen.GetFileStatus.getFileChecksStatus.GetFileChecksStatus
@(status: GetFileChecksStatus, consignmentId: Int)

    @main("FileStatus") {


        @defining(if(status.error) "" else " hide") { errorClass =>

            @defining(if(status.totalComplete == status.totalFiles && !status.error && status.totalComplete > 0) "" else " hide") { completeClass =>

                @defining(if((status.totalComplete != status.totalFiles && !status.error) || status.totalComplete == 0) "" else " hide") { progressBarClass =>

                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-two-thirds">
                
                            <!-- Progress indicator -->
                            <span class="govuk-caption-xl">Step 4 of 5</span>
                            <!-- Headline -->
                            <h3 class="govuk-heading-xl">Upload and Processing</h3>


                            <div class="file-status">

                                <div class="error @errorClass">
                                    <div class="progress-complete">
                                        <span class="iconify" data-icon="ic:baseline-error-outline" data-inline="false"></span>
                                        <div class="complete-text">
                                            <h4>Upload failed</h4>
                                            <span>Please try again.</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="progress-complete-container @completeClass">
                                    <div class="progress-complete">
                                        <span class="iconify complete-tick" data-icon="ic-round-check-circle-outline" data-inline="false"></span>
                                        <div class="complete-text">
                                            <h4>Upload was successful</h4>
                                            <span class="complete-message">@status.totalComplete
                                                files have been successfully uploaded</span>
                                            <span>Please click 'Save and Continue' to proceed this transfer.</span>
                                        </div>
                                    </div>

                                    <a href="@routes.ReviewController.index(consignmentId)" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                                        Confirm transfer
                                    </a>
                                </div>

                                <div class="progress-container @progressBarClass">
                                    <progress class="status-progress" value="@status.totalComplete" max="@status.totalFiles"></progress>
                                    <span class="status-progress-label">Processed @status.totalComplete of @status.totalFiles files</span>
                                </div>
                                
                            </div>
                        
                        </div>
                    </div>
                }
            }
        }
    }