@import graphql.codegen.GetFileStatus.getFileChecksStatus.GetFileChecksStatus
@(status: GetFileChecksStatus)

@main("FileStatus") {


@defining(if(status.error) "" else " hide") { errorClass =>

@defining(if (status.totalComplete == status.totalFiles && !status.error) "" else " hide") { completeClass =>

@defining(if (status.totalComplete != status.totalFiles && !status.error) "" else " hide") { progressBarClass =>

<h3 class="govuk-heading-m">Upload and processing</h3>
<div class="file-status">
    <h1 class="@errorClass">Error</h1>
    <div class="progress-complete-container @completeClass">
        <div class="progress-complete">
            <span class="iconify complete-tick" data-icon="ic-round-check-circle-outline" data-inline="false"></span>
            <div class="complete-text">
                <h4>Upload was successful</h4>
                <span>@status.totalComplete files have been successfully uploaded</span>
                <span>Please click 'Save and Continue' to proceed this transfer</span>
            </div>

        </div>

        <a href="#" role="button @completeClass" draggable="false" class="govuk-button govuk-button--start">
            Save and Continue
        </a>
    </div>

    <div class="progress-container @progressBarClass">
        <progress class="status-progress" value="@status.totalComplete" max="@status.totalFiles"></progress>
        <p class="status-progress-label">Files @status.totalComplete of @status.totalFiles</p>
    </div>




</div>
}
}
}
}