@(field: Field,
args: (Symbol, Any)*
)(implicit messages: Messages)

@import views.html.helper._

@import viewsapi.FormFunctions._

@elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }

@hide() = @{
if(inputType == "hidden") {
"hide"
}
}

@inputType = @{
if(elements.args.contains('_inputType)) {
    elements.args('_inputType)
} else {
    "textarea"
}
}

<div class="govuk-form-group @elements.setErrorClass @hide">
        <label class="govuk-label" for=@elements.id>
            @elements.label
            @elements.args.requiredLabelSuffix()
        </label>
        <textarea
            type="@inputType"
            @elements.args.requiredInput()
            class="govuk-textarea @elements.setErrorClass"
            id="@elements.id"
            name="@elements.id"
            value="@elements.field.value"
        ></textarea>
        @elements.renderErrorMessage()
</div>