@(field: Field,
inputType: String,
args: (Symbol, Any)*
)(implicit messages: Messages)

@import views.html.helper._
@import viewsapi.FormFunctions._

@elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }

<div class="govuk-form-group @elements.setErrorClass">
        <label class="govuk-label" for=@elements.id>
            @elements.label
            @elements.args.requiredLabelSuffix()
        </label>
        <input
            type="@inputType"
            @elements.args.requiredInput()
            class="govuk-input @elements.setErrorClass"
            id="@elements.id"
            name="@elements.id"
        />
        @elements.renderErrorMessage()
</div>