
@(field: Field,
radioOptions: Seq[(String, String)],
args: (Symbol, Any)*
)(implicit messages: Messages)

@import views.html.helper._

@elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }
@checked = {@elements.args.get('checked)}

<label class="govuk-label">
    @elements.args.get('_name)
</label>

<div class="govuk-radios govuk-radios--inline" id="@elements.id">
    @radioOptions.map {case (label, value) =>
        <div class="govuk-radios__item">

            <input
                class="govuk-radios__input"
                id="@elements.id@value"
                name="@elements.id"
                type="radio"
                value="@value"
                if(checked) {
                    checked="checked"
                }
            />
            <label class="govuk-label govuk-radios__label" for="@elements.id@value">
                @label
            </label>
        </div>
    }

</div>