
@(field: Field,
args: (Symbol, Any)*
)(implicit messages: Messages)

@import views.html.helper._

@elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }
@value = {@elements.args.get('_value)}
@label = {@elements.args.get('_label)}

@requiredOption() = @{
    if(elements.args.contains('_requiredOption)) {
        "required"
    }
}

<div class="govuk-checkboxes govuk-checkboxes--small">

        <div class="govuk-checkboxes__item">
            <input @requiredOption class="govuk-checkboxes__input" id="@elements.id" name="@elements.id" type="checkbox" value="@value" />
            <label class="govuk-label govuk-checkboxes__label" for="@elements.id">
                @label
            </label>
        </div>

</div>