@(field: Field,
inputType: String,
args: (Symbol, Any)*
)(implicit messages: Messages)

@import views.html.helper._

@elements = @{new FieldElements(field.id, field, null, args.toMap, messages) }

@requiredOption() = @{
if(elements.args.contains('_requiredOption)) {
"required"
}
}

<div class="govuk-form-group">
    <div class="@if(elements.hasErrors){error}">
        <label class="govuk-label" for=@elements.id>
            @elements.label
        </label>
        <input type="@inputType" @requiredOption class="govuk-input @if(elements.hasErrors){govuk-input--error}" id="@elements.id"
               name="@elements.id"/>
        <span id="error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span>@elements.errors.mkString(", ")
        </span>
    </div>
</div>