@(userForm: Form[auth.User])(implicit messages: Messages)
@import helper._
@implicitField = @{ FieldConstructor(textInputTemplate.f) }
@main("Auth") {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-xl">Log In</h1>
            @helper.form(action = routes.AuthController.processLoginAttempt(), 'enctype -> "multipart/form-data", 'id -> "login-form") {
                @inputText(userForm("username"), '_label -> "Username", '_id -> "text")
                @inputText(userForm("password"), '_label -> "Password", '_id -> "password")

        @if(userForm.hasGlobalErrors) {
        <label class="govuk-label" style="color: red" for="width-20">
            @userForm.globalErrors(0).message
        </label>
        }


        <div class="govuk-form-group">
                <button class="govuk-button" type="submit">
                    Log In
                </button>
            </div>
        }
    </div>
</div>
}
}