@(loginForm: Form[forms.LoginForm.LoginData])(implicit messages: Messages)
@main("Auth") {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-xl">Sign In</h1>

                @helper.form(action = routes.AuthController.processLoginAttempt(), 'id -> "login-form") {
                @inputTextBox(loginForm("username"), '_inputType -> "text", '_requiredOption -> true, '_label -> "Email", '_id -> "username")
                @inputTextBox(loginForm("password"), '_inputType -> "password", '_requiredOption -> true, '_label -> "Password", '_id -> "password")

                <input type="submit" class="govuk-button" value="Sign In">
                }

        <p class="govuk-body">
            <a class="govuk-link" href="@routes.AuthController.resetPasswordEmail()">Forgot your password?</a>
        </p>
    </div>
    }
}