@(resetPasswordEmailForm: Form[auth.ResetPasswordEmailForm.Data])(implicit messages: Messages)
@import helper._
@main("Reset Password") {
@defining(play.core.PlayVersion.current) { version =>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-xl">Create User</h1>
        @helper.form(action = routes.AuthController.sendResetPasswordEmail(), 'id -> "login-form") {
            @inputTextBox(resetPasswordEmailForm("email"), "text", '_requiredOption -> true, '_label -> "Email", '_id -> "email")
        <input type="submit" class="govuk-button" value="Send Reset Email">
        }

    </div>
</div>
}
}