@(resetPasswordForm: Form[auth.ResetPasswordForm.Data], email: String)(implicit messages: Messages)
@import helper._
@main("Reset Password") {
@defining(play.core.PlayVersion.current) { version =>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-xl">Create a new password</h1>
        @helper.form(action = routes.AuthController.submitResetPassword(email), 'id -> "login-form") {
            @inputTextBox(resetPasswordForm("newPassword"), "password", '_requiredOption -> true, '_label -> "Password", '_id -> "newPassword")
            @inputTextBox(resetPasswordForm("confirmNewPassword"), "password", '_requiredOption -> true, '_label -> "Confirm Password", '_id -> "confirmNewPassword")
            @if(resetPasswordForm.hasGlobalErrors) {
                <span id="error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>@resetPasswordForm.globalErrors(0).message
                </span>
            }
            <input type="submit" class="govuk-button" value="Reset Password">
        }

    </div>
</div>
}
}