
@(createUserForm: Form[auth.SignUpForm.Data])(implicit messages: Messages)
@import helper._
@main("SeriesDetails") {
@defining(play.core.PlayVersion.current) { version =>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h1 class="govuk-heading-xl">Create User</h1>
        @helper.form(action = routes.AuthController.signUpSubmit(), 'enctype -> "multipart/form-data", 'id -> "login-form") {
            @inputTextBox(createUserForm("firstName"), "text", '_label -> "First Name", '_id -> "firstName")
            @inputTextBox(createUserForm("lastName"), "text", '_label -> "First Name", '_id -> "lastName")
            @inputTextBox(createUserForm("email"), "text", '_label -> "Email", '_id -> "email")
            @inputTextBox(createUserForm("password"), "password", '_label -> "Password", '_id -> "password")

        <input type="submit" class="govuk-button" value="Sign Up">

        }

    </div>
</div>
}
}