@import play.api.data.Form
@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import forms.TotpForm.Data
@import java.util.UUID
@import helper._

@(totpForm: Form[Data])(implicit request: RequestHeader, messages: Messages)

@main(messages("totp.signin.title")) {
<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
    <h1 class="govuk-heading-xl">@messages("totp.signin.title")</h1>
    @helper.form(action = routes.TotpController.submit()) {
    @inputTextBox(totpForm("verificationCode"), '_label -> messages("totp.verification.code"))
    @inputTextBox(totpForm("userID"), '_inputType -> "hidden")
    @inputTextBox(totpForm("sharedKey"), '_inputType -> "hidden")
    @inputTextBox(totpForm("rememberMe"), '_inputType -> "hidden")
    <input type="submit" class="govuk-button" value="@messages("totp.verify")">
    }
    </div>
</div>
}
