@()

@main("Confirmation") {
@defining(play.core.PlayVersion.current) { version =>

<!-- Confirmation page -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        <!-- Panel -->
        <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title govuk-!-margin-bottom-1">
                Transfer complete
            </h1>
            <div class="govuk-panel__body govuk-!-font-size-27">
                Your records are being transferred.
            </div>
            <div id="warning-div" class="govuk-warning-text">
                    <span id="warning-span" class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    
                <p class="warning-text govuk-!-font-size-19">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Please do not delete your copies until given confirmation from The National Archives.
                </p>
            </div>
        </div>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">
            We will contact you to confirm the receipt of your records. 
        </p>

        <!-- Button -->
        <div>
            <!-- Back to dashboard -->
            <a href="@routes.DashboardController.index" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Back to Dashboard
            </a>
        </div>

    </div>
</div>
}
}