@(consignmentId: Int, seriesId: Int)

@main("Upload") {
    @defining(play.core.PlayVersion.current) { version =>

        <!-- Back -->
        <a href="@routes.CreateConsignmentController.index(seriesId)" class="govuk-back-link">Back</a>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <!-- Progress indicator -->
                <span class="govuk-caption-xl">Step 4 of 5</span>
                <!-- Headline -->
                <h1 class="govuk-heading-xl">Upload Your Records</h1>

                <!-- Error -->
                <div id="uploadError" class="govuk-error-summary hide" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary"">
                    <h2 class="govuk-error-summary__title" id="error-summary-title">
                        There is a problem
                    </h2>
                    <div class="govuk-error-summary__body">
                        <ul class="govuk-list govuk-error-summary__list">
                            <li>
                                <p>Some or all of your files failed to upload.</p>
                                <p class="errorMessage"></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Form only handles the file upload without making any posts-->
                <form id="file-upload-form">
                <div class="govuk-form-group upload-form">
                    <!-- TODO: The site will have to choose the input type (folder OR zip file) depending on the browser, or we'll have instructions for IE. -->
                    <label class="govuk-label" for="file-upload">
                        Select a folder
                    </label>
                    <input type="hidden" class="file-id-data" name="file-id-data" />
                    <input type="file" id="file-upload" name="files" class="govuk-file-upload" webkitdirectory>
                </div>

                <span class="progress-message"></span>

                <!-- Buttons -->
                <div class="govuk-form-group">
                    <a href="@routes.DashboardController.index" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Cancel
                    </a>
                    <button id="upload-submit" class="govuk-button" type="submit">Upload now</button>
                </div>
                </form>
            </div>
        </div>

        <!-- Form only posts consignment id -->
        @helper.form(action = routes.UploadController.upload(consignmentId), 'id -> "commence-upload-form") {
            <input type="hidden" value="@consignmentId" name="consignmentId" />
        }
    }
}